#teambody {
    position: relative;
}

.swiper-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.swiper-slide{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-scrollbar{
    height: 1vh!important;
}

#teambody>div>h3{
    font-size: 5vh;
    font-weight: bolder;
    padding: 3vh 0 2vh 3vw;
    overflow: hidden;
}

#teambody>div>p{
    display: block;
    padding: 1vh 3vw 1vh 3vw;
    font-size: 2.5vh;
}

.people_container{
    display: block;
}

.people_block{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 0;
}

.people_logo{
    width: 12vw;
    height: 12vw;
    background: white;
    border: 0.3vw solid #26364d  ;
    box-sizing: border-box;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.people_logo_smaller{
    width: 8vw;
    height: 8vw;
}

.people_logo_after{
    position: absolute;
    width: 12vw;
    height: 12vw;
    background: rgba(255,219,112, 0.85);
    box-sizing: border-box;
    border: 0vw solid #26364d  ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.4s;
    opacity: 0;
}

.people_logo_after_smaller{
    width: 8vw;
    height: 8vw;
}

.people_logo_after>div{
    text-align: center;
}

.people_logo_after>div>h3{
    margin: 0;
    font-size: 1.4vw;
}

.people_logo_after>div>h4{
    margin: 0;
    font-size: 1vw;
    font-weight: bolder;
}

.people_logo_after:hover{
    transition: opacity 0.4s;
    opacity: 1;
}

.right_nav_container{
    padding: 0;
}

.right_nav{
    width: 16vw;
    height: 48vw;
    position: -webkit-sticky;
    position: sticky;
    top: 111px;
    background-image: url(../images/DNA牵引图白色底图.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.right_nav::after{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../images/DNA牵引图彩色覆盖.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    clip: rect(0px, 1000px, 0px, 1000px);
}

.notebook{
    border: solid 3px #26364d ;
    border-top: none;
    padding: 2vh 2vw;
}

.notebook_cell{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.notebook_cell>h4{
    font-size: 4vh;
    line-height: 7vh;
}

.notebook_cell>p{
    font-size: 2.5vh;
    line-height: 5vh;
}

.notebook>hr{
    margin: 2vh auto;
    border: 0;
    width: 90%;
	border-top: 0.1vh solid rgba(0, 0, 0,0.5);
}